# -*- python -*-
# ex: set filetype=python:
def openvpnAddCppcheckStepsToBuildFactory(factory, shell_env=None):
    cppcheck_env = {"CPPCHECK_CHECK_LEVEL": "normal"}
    if shell_env:
        cppcheck_env.update(shell_env)

    factory.addStep(
        steps.ShellCommand(
            command="make cppcheck",
            name="Run Cppcheck",
            description="checking",
            descriptionDone="check",
            env=cppcheck_env,
        )
    )

    return factory
